# Editor etc.
.hintrc
.vscode
.DS_Store

# Development
dev/

# Python
.pycache
__pycache__/

# Testing files
test.py
tests/
testing/
conv/

# Project planning folder
project/
projects/

# Backups
backup/

# output folder (from pyinstaller)
# Please see the readme why there is no .exe or .dmg and how to build one!
output/

# Internal
# ***ATTENTION! DO NOT REMOVE /internal/recent_store.json 
# FROM THE .gitignore OR PERSONAL INFORMATION COULD BE
# EXPOSED! (filepaths, filenames)***
internal/recent_store.json
recent_store.json